

<ion-header>
 
</ion-header>
<ion-content>

<img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/042017/untitled-1_17.png?itok=BAFMQNCO" width="100px" height="100px" id="icon" alt="User Icon" />

<ion-card>
<h2 style="margin-left: 40%; color: brown;"><b>LOGIN</b></h2>
<br>

  <div class="login-page">
    <div class="form">

      <form class="login-form">
        <input type="text" placeholder="username"/>
      
        <br>
        <input type="password" placeholder="password"/>
        <br>
        <br>
        <ion-button style="margin-left: 40%;" color="danger">login</ion-button>
        <!--
          add forget password button
        -->

<a href="/forget-password">  <p style="margin-left:35% ;">forget password</p></a>

 
      </form>
    </div>
  </div>
  </ion-card>
</ion-content>




  


      