<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="border: 10px;" [scrollEvents]="true">
  <ion-card>
  <input type="text" placeholder="Reason" class="form-control" id="UrunMiktar" [(ngModel)]="empRequest.reason"
    [ngModelOptions]="{standalone: true}">


  <input type="date" placeholder="Date to trip" class="form-control" id="UrunMiktar" [(ngModel)]="empRequest.dateOfTrip"
    [ngModelOptions]="{standalone: true}">
  <input type="time" placeholder="time to trip" class="form-control" id="UrunMiktar" [(ngModel)]="empRequest.timeOfTrip"
    [ngModelOptions]="{standalone: true}">
  <br>
  <div class="selectdiv">
    <select name="category" id="category" class="ms-1 d-block w-100" required [(ngModel)]="empRequest.vehicleType"
      [ngModelOptions]="{standalone: true}">
      <option>select a vehicle </option>
      <option value="threeWheel">Three-Wheel</option>
      <option value="car">Car</option>
      <option value="van">Van</option>
    </select>
  </div>
  <br>
  <input ngx-google-places-autocomplete placeholder="from" (onAddressChange)="from($event)" type="text"
    class="form-control" id="UrunMiktar">


  <input ngx-google-places-autocomplete placeholder="to" (onAddressChange)="to($event)" type="text" class="form-control"
    id="UrunMiktar">

  <ion-button color="success" (click)="setRoutePolyline()"> Show Route</ion-button>

  <div style="border:10px ;">
<ion-card>
    <agm-map style="height:300px;" [latitude]="latitude" [longitude]="longitude">
      <agm-marker *ngFor="let m of markerPositions" [markerDraggable]="true" #marker [latitude]="m.lat"
        [longitude]="m.lng"></agm-marker>
      <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
    </agm-map>
  </ion-card>

  </div>

  <br>
  <ion-label color="primary" style="margin: 10px;">DISTANCE</ion-label>
  <p>{{distance}}</p>

  <ion-label color="primary" style="margin:10px ;">TIME</ion-label>
  <p>{{time}}</p>
  <br />

  <ion-button color="danger" style="margin-left: 30%;margin-bottom: 40% ;">Submit Request
  </ion-button>
  </ion-card>
</ion-content>
